@model WebProject.Models.Model.Blog
@{
    ViewBag.Title = "BlogDetail";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                    <li class="active">Blog Detail</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">

                <article>
                    <div class="post-image">
                        <div class="post-heading">
                            <h3>@Model.Title</h3>
                        </div>
                        <div class="bottom-article">
                            <ul class="meta-post">

                                <li><i class="icon-folder-open"></i><a href="#"> @Model.Category.CategoryName</a></li>
                                @*<li><i class="icon-comments"></i><a href="#">4 Comments</a></li>*@
                            </ul>
                        </div>
                        <img src="@Model.ImageURL" alt="@Model.Title" />
                    </div>
                    <p>
                        @Html.Raw(Model.Contents)
                    </p>

                </article>


                <div class="row">
                    <div class="col-md-8">
                        <h3>Yorum Yap</h3>
                        <form>
                            <div>
                                <input type="text" id="adsoyad" placeholder="Adınız Soyadınız" required class="form-control" />
                                <br />
                                <input type="email" id="eposta" placeholder="Mail Adresiniz" required class="form-control" />
                                <br />
                                <textarea typeof="text" id="icerik" class="form-control"></textarea>
                                <br />
                                <button type="submit" class="btn btn-success" id="gonder">Yorum Yap</button>

                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <h3>
                            Blog Comments
                        </h3>
                        @foreach (var item in Model.Comments.OrderByDescending(x=> x.CommentId).Where(x=>x.Onay==true))
                        {
                        <p>@item.FullName - @item.Eposta</p> <br />
                        <p>@item.Contents</p> <br />
                        <hr />
                        }

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <aside class="right-sidebar">
                    <div class="widget">
                        <form class="form-search">
                            <input class="form-control" type="text" placeholder="Search..">
                        </form>
                    </div>
                    <div class="widget">
                        <h5 class="widgetheading">Categories</h5>
                        @{
                            Html.RenderAction("BlogCategoryPartial", "Home");
                        }
                    </div>
                    <div class="widget">
                        <h5 class="widgetheading">Latest posts</h5>
                        <ul class="recent">
                            @{
                                Html.RenderAction("BlogPartial", "Home");
                            }
                        </ul>
                    </div>

                </aside>
            </div>
        </div>
    </div>
</section>

<script src="~/Content/SiteLayout/js/jquery.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $("#gonder").click(function () {
            var adisoyadi = $("#adsoyad").val();
            var epostasi = $("#eposta").val();
            var yorumunuz = $("#icerik").val();
            $.ajax({
                url: '/Home/YorumYap/',
                data: {adsoyad:adisoyadi,eposta: epostasi,icerik:yorumunuz,blogid:@Model.BlogId },
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    alert("Yorumunuz alındı, kontrol edildikten sonra yayınlanacaktır.");
                }
            });
        });
    })

</script>
